/* General App Styles */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bg-header{
  color: #ffffff !important;
  background: linear-gradient(to right, #1C3245, #1D3E53, #1D414F, #1C3D49, #1B3542) !important;
}
/* Button Styles */
.btn {
  color: #ffffff !important;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #00BBD6 !important;
  padding: 16px;
  cursor: pointer;}

.btn.active {
  background: linear-gradient(90deg, #00BBD6, #19A6EE);
  cursor: pointer;
}

/* Font Sizes */
.fs-70 {
  font-size: 70px;
}

.fs-30 {
  font-size: 30px;
}

/* Form Control */
.form-control {
  padding: 0.5rem 1rem !important;
  color: #ffffff !important;
  background: linear-gradient(to right, #1C3245, #1D3E53, #1D414F, #1C3D49, #1B3542) !important;
  border: 1px solid #00BBD6 !important;
}

.form-control::placeholder {
  color: #9CA3AF !important;
}

/* Card Styles */
.card,
.p-card {
  transition: transform 0.2s;
  color: #ffffff !important;
  background: linear-gradient(to right, #1C3245, #1D3E53, #1D414F, #1C3D49, #1B3542) !important;
}

.card:hover {
  transform: translateY(-5px);
}

.p-card .p-card-content {
  padding: unset !important;
}

/* PrimeReact Components */
.p-component {
  font-family: 'Eudoxus Sans', sans-serif !important;
  background: linear-gradient(to right, #1C3245, #1D3E53, #1D414F, #1C3D49, #1B3542) !important;
}

/* DataTable Styles */
.p-datatable .p-datatable-tbody > tr {
  background: #1C3245 !important;
  color: #ffffff;
  transition: box-shadow 0.2s;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background: #223546 !important;
}

.p-datatable .p-datatable-header {
  background: linear-gradient(to right, #1C3245, #1D3E53, #1D414F, #1C3D49, #1B3542) !important;
  color: #ffffff !important;
  border-width: 1px 0;
  padding: 1rem;
  font-weight: 700;
}

.p-datatable .p-datatable-thead {
  background: #1B3542 !important;
  color: #ffffff !important;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #ffffff !important;
}
.p-datatable .p-datatable-thead > tr > th{
  background: linear-gradient(to right, #1C3245, #1D3E53, #1D414F, #1C3D49, #1B3542) !important;
  color: #ffffff !important;
}

/* Paginator Styles */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: linear-gradient(90deg, #00BBD6, #19A6EE);
  color: #ffffff !important;
  border: 1px solid #00BBD6 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page:hover {
  background: rgba(0, 187, 214, 0.7);
  color: #ffffff !important;
  border: 1px solid #00BBD6 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight:hover {
  background: linear-gradient(90deg, #19A6EE, #00BBD6);
}

/* Dropdown Panel */
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: #ffffff !important;
  background: linear-gradient(90deg, #19A6EE, #00BBD6);
  border: 1px solid #00BBD6 !important;
}

/* List Styles */
ul {
  margin-bottom: unset !important;
  padding-left: unset !important;
}

/* Media Queries */
@media (max-width: 576px) {
  .card-body {
    padding: 1rem;
  }

  .chart-container {
    height: 300px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .chart-container {
    height: 350px;
  }
}
