body {
  margin: 0;
  font-family: 'Eudoxus Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1A232E !important;
  color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Eudoxus Sans';
  src: url('./fonts/EudoxusSans-Regular-BF659b6cb1d4714.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eudoxus Sans bold';
  src: url('./fonts/EudoxusSans-Bold-BF659b6cb1408e5.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
